*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
 background-image: url("clc.jpg");
 background-size: cover;
 background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator{
 background: #ffffffa7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
}
.heading {
  text-align: center;
}
#screen{
    width: 100%;
  height: 60px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
  background: #111;
  color: #fff;
  margin-bottom: 15px;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

.btn{
  background: #333;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover{
  background: #444;
}

.clear{
  background: #ff4b4b;
}

.del{
  background: #ffa600;
}

.equal{
  background: #00d47b;
  color: #000;
  font-weight: 700;
}

.zero{
  grid-column: span 2;
}

/* Responsive mobile */
@media(max-width: 480px){
  .buttons{
    grid-template-columns: repeat(4, 60px);
  }
  .btn{
    font-size: 1.1rem;
  }
}